<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="register">
    <header>
        <div class="up">
            <div class="encabezado">
                <div class="logo">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="" sty></a>
                </div>
                <div class="search">
                    <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
                </div>
            </div>
                <div class="slogan">
                    <h3><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h3>
                </div>
        </div>
        <div class="list">
            <nav>
                <ul class="rutas">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="usser">
                    <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu"><i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <div>
            <h1>Registro de usuario</h1>
        </div>
        <form action="" method="GET" class="form">
            <label class="principal" for="name">Nombre y apellido:</label><input class="largo" type="text" name="name" id="name" placeholder="Ingrese su nombre y apellido">
            <label class="principal" for="usser">Nombre de usuario:</label><input class= "largo" type="text" name="usser" id="usser" placeholder="Ingrese su nombre de usuario">
            <label class="principal" for="nac">Fecha de nacimiento:</label><input class= "largo" type="date" name="nac" id="nac">
            <label class="principal" for="adress">Domicilio:</label><input class= "largo" type="text" name="adress" id="adress" placeholder="Ingrese su domicilio">
                <div>
                    <label class="principal" for="usser-profile">Perfil de usuario
                </div>
                <div class="radio">
                    <input type="radio" name="usser-profile" id="compra" value="compra"><label for="compra">Comprador</label>
                    <input type="radio" name="usser-profile" id="venta" value="venta"><label for="venta">Vendedor</label>
                </div>
            </label>
            <div class="checkbox">
                <label class="principal" for="interes">Categorias de interes</label>
                    <div class="options">
                        <div>
                            <input type="checkbox" name="interes" id="electro" value="electro"><label for="electro">Electro</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interes" id="moda" value="moda"><label for="moda">Moda</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interes" id="hogar" value="hogar"><label for="hogar">Hogar</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interes" id="jugueteria" value="jugueteria"><label for="jugueteria">Jugueteria</label>
                        </div>
                        <div>
                            <input type="checkbox" name="interes" id="vida-sana" value="vida-sana"><label for="vida-sana">Vida sana</label>
                        </div>
                    </div>
            </div>
            <label class="principal" for="img-profile">Subir imagen de perfil</label><input class="profile" type="file" name="img-profile" id="img-profile">
            <label class="principal" for="password">Ingrese contraseña:</label><input class= "largo" type="password" name="password" id="password" placeholder="ingrese su contraseña">
            <div class="buttons">
                <a href="/">
                    <button type="button">Enviar</button>
                </a>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <section>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </section>
            <section>
                <i class="fas fa-gift"></i>
                <h3>Envio gratis desde $2500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </section>
            <section>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </section>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>