*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

li {
    list-style: none;
}

a{
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--GrisClaro);
}